<div class="navContainer">
    <div class="navContainer__headline">Art News Scraper</div>
    <div class="navContainer__subheading">Get and comment on the latest art news.</div>
    <a class="navContainer__button--scrape" href="/scrape">find new articles</a>
    <a class="navContainer__button--save" id="saveButton"href="/saved">your saved articles</a>
</div>
{{#each articles}}
<div class="articleContainer">
    <a class="articleContainer__link" href={{this.link}}>{{this.title}}</a>
    <div class="articleContainer__author">by {{this.author}}</div>
    <div class="articleContainer__summary">{{this.summary}}</div>
    <button class="articleContainer__button--save" data-id="{{this._id}}">Save this article</button>
    <button class="articleContainer__button--comment" id="modalButton" data-id="{{this._id}}">Make a note</button>
</div>
{{/each}}

<!--Note Modal content -->
{{!-- <div class="noteModal" id="noteModal">
<div class="noteModal__content">
  <div class="noteModal__header">
    <h2>Notes</h2>
  </div>
  <div class="noteModal__body">
      <form class="noteModal__form" id="noteModal__form">
          <input required placeholder="Enter your note here" type="text" id="noteText">
             <button class="noteModal__button--post" type="submit" id="notebutton">Post your note</button>

      </form>
  
  </div>
  <div class="noteModal__footer">
    <span class="close">&times;</span>
    <h3>Modal Footer</h3>
  </div>
</div>
</div> --}}


{{!-- <text class="headline">{{this.title}}</text>
<div class="article">{{#each articles}}</div>
<div class="link">{{this.link}}</div> --}}