<div class="navContainer">
    <div class="navContainer__headline">Saved Articles</div>
    <div class="navContainer__subheading">Keep your favorite articles here</div>
    <a class="navContainer__button--home" href="/">return to the home page</a>
 
</div>
{{#each articles}}
<div class="articleContainer">
    <a class="articleContainer__link" href={{this.link}}>{{this.title}}</a>
    <div class="articleContainer__author">by {{this.author}}</div>
    <div class="articleContainer__summary">{{this.summary}}</div>
    <button class="articleContainer__button--delete" id="articleRemoveButton" data-id="{{this._id}}">delete this article</button>
    <button class="articleContainer__button--comment" id="viewNotes" data-id="{{this._id}}">Make a note</button>
</div>

<div class="noteContainer" id="noteView{{this._id}}">
    <div class="noteContainer__heading">
        <div class="noteContainer__heading-headline">Notes</div>
        <span id="existing-notes{{this._id}}"></span>
    </div>
    <div class="noteContainer__body">
        <form class="noteContainer__form">
            <div class="noteContainer__form--group">
                <input class="noteContainer__form--title" type="text" id="titleInput{{this._id}}" placeholder="Title">
                <input class="noteContainer__form--comment" type="text" id="commentInput{{this._id}}" placeholder="enter comments here">
            </div>
            <div class="noteContainer__button">
                <button class="noteContainer__button--notePost" id="saveNote" data-id="{{this._id}}" type="button">save note</button>
            </div>
        </form>
    </div>
</div>
{{/each}}










{{!-- <text class="headline">{{this.title}}</text>
<div class="article">{{#each articles}}</div>
<div class="link">{{this.link}}</div> --}}